.bgvideo video {
    height: 60vh;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;


}
.bgvideo  {
    height: 60vh;
    width: 100%;
    position: relative;
    display: flex;
    z-index: 1;
    justify-content: center;
    align-items: center;
}

.video-text {
    color: black;
    z-index: 2;


}

.effect {
    height: 60vh;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    z-index: 2;
    
}