@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap');

body {
    font-family: 'League Spartan', sans-serif;
    background: linear-gradient(90deg, #83EDFF 0%, #00E1FF 100%);
}

.nav-link {
    color: aquamarine;
}

.navbar-nav .nav-link.active {
    color: rgb(149, 149, 149);
}

.navbar-brand img {
    width: 40px;
}

.navbar-toggler {
    color: chartreuse;
    background-color: greenyellow;
    
}

.sidebar {
    background: linear-gradient(270deg, #0ad5f9 0%, #9cd8e0 100%);
}

.card {
    background: linear-gradient(270deg, #0ad5f9 0%, #9cd8e0 100%);
    color: black;
}

.card a {
    text-decoration: none;
    color: black;
   
}

.slide-text,
.footer-text {
    margin: auto auto;
}

footer {
    background: linear-gradient(270deg, #0ad5f9 0%, #9cd8e0 100%);
     
}
.media-cnt img {
     width: 50px;
     margin-inline: 1em;
}

.call-anime {
    animation: animCall 2s ease 0s infinite normal forwards;
}

@keyframes animCall {
	0%,
	100% {
		transform: translateX(0%);
		transform-origin: 50% 50%;
	}

	15% {
		transform: translateX(-30px) rotate(-6deg);
	}

	30% {
		transform: translateX(15px) rotate(6deg);
	}

	45% {
		transform: translateX(-15px) rotate(-3.6deg);
	}

	60% {
		transform: translateX(9px) rotate(2.4deg);
	}

	75% {
		transform: translateX(-6px) rotate(-1.2deg);
	}
}

.btn-outline-primary {
    background: linear-gradient(90deg, #83EDFF 0%, #00E1FF 100%);

}
@media (max-width: 755px) {
    .carousel-indicators {
        display: none;
    }
}


